@page "/"

<PageTitle>Index</PageTitle>

    <div class = "loginBody">
        <h1>Post It!</h1>
        <p>Please login</p>
        <input type="text" placeholder="Email" @bind:event="oninput"/>
        <input type="text" placeholder="Default Value" @bind:event="oninput"/>

    </div>