@page "/"

@using Domain.DTOs
@using HttpsClients.ClientInterfaces
@using BalzorPost.Data
@inject NavigationManager Navigation
@inject IUserService userService
@inject IJSRuntime JsRuntime
<link href="css/CommonStyles.css" rel="stylesheet"/>

<PageTitle>Index</PageTitle>

<div class = "loginBody">
    <h1>Post It!</h1>
    <p>Please login</p>
    <form @onsubmit="Login">
        <input type="text" @bind="email" placeholder="Email" @bind:event="oninput"/>
        <input type="text" @bind="password" placeholder="Password" @bind:event="oninput"/>
        <button @onclick="Login">Login</button>
    </form>
    <p class="errorMessage" style="color: red;">@errorMessage</p>
</div>

@code {
    private string email = "";
    private string password = "";
    private string errorMessage = "";
    
    private async Task Login()
    {
        if (string.IsNullOrEmpty(email) || string.IsNullOrEmpty(password))
        {
            errorMessage = "Please fill out both email and password fields.";
            return;
        }

        try
        {
            ReturnLoginDto returnDto = await userService.Login(new LoginDto(email, password));
            UserInformation.SetUserInfo(returnDto.username, returnDto.authenticationLvl);
            email = "";
            password = "";
            if (!UserInformation.getUserName().Equals(null))
            {
                Navigation.NavigateTo("/ViewAllPosts"); 
                await JsRuntime.InvokeVoidAsync("location.reload");
                
            }

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorMessage = "Invalid email or password. Please try again.";
        }
    }

}