@page "/ViewAllPosts"
@using Domain.DTOs
@using HttpsClients.ClientInterfaces
@using System.Collections
@using BalzorPost.Data
@using Domain
@inject IPostService postService
@inject IJSRuntime JSRuntime
<link href="css/CommonStyles.css" rel="stylesheet"/>

<div>
    <h3>View All Posts</h3>
    @if (posts != null)
    {
        <ul>
            @foreach (var e in posts)
            {
                <div class="card">
                <p>@e.Title</p>
                <p>@e.Body</p>
                <input type="text" class="commentInput" placeholder="comment" @bind="commentText"/>
                <button @onclick="() => Comment(e.Title)">Comment</button>
                <button @onclick="() => Delete(e.Title)">Delete</button>
                <ul class="commentlist">
                @foreach(var c in e.comments)
                {
                    <li class="commentListItem">
                        User @c.username commented:
                         <p>@c.text</p>
                    </li>
                   
                }
                </ul>
                </div>
            }
        </ul>
    }
</div>



@code {
    
    private IEnumerable<Post> posts;
    private string commentText = "";
    
    
    //A method that runs when the page is initialized
    protected override async Task OnInitializedAsync()
    {
        await Get();
    }

    private async Task Get()
    {
        try
        {
            posts = await postService.Get();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
    private async Task Comment(string title)
    {
        try
        {
            await postService.CreateCommentAsync(new CommentDto(title, UserInformation.getUserName(), commentText));
            await JSRuntime.InvokeVoidAsync("location.reload");;

        }
        catch(Exception e)
        {
            Console.WriteLine(e);

        }
    }
    
    private async void Delete(string title){

        try
        {
            postService.DeletePostAsync(new DeletePostDto(title));
            await JSRuntime.InvokeVoidAsync("location.reload");;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
    
}