@page "/ViewAllPosts"
@using Domain.DTOs
@using HttpsClients.ClientInterfaces
@using System.Collections
@using Domain
@inject IPostService postService



<h3>View All Posts</h3>
<div>
    <button @onclick="Get">Load Posts</button>
    @resultMsg

    @if (posts != null)
    {
        <ul>
            @foreach (var e in posts)
            {
                <li>@e.Title</li>
                <p>@e.Body</p>
            }
        </ul>
    }
</div>



@code {
    
    
    private string resultMsg = "";
    private IEnumerable<Post> posts;

    private async Task Get()
    {
        try
        {
            posts = await postService.Get();
        }
        catch (Exception e)
        {
            resultMsg = e.Message;
        }
    }
}