@using BalzorPost.Data
@attribute [Authorize]
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="ViewAllPosts">BlazorPost
        @if (UserInformation.getAuthLvl() > 0)
        {
            <p>@UserInformation.getUserName()</p>
        }
            </a>
        
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (UserInformation.getAuthLvl() == 0)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-key" aria-hidden="true"></span> Login
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="CreateUser">
                    <span class="oi oi-beaker" aria-hidden="true"></span> CreateUser
                </NavLink>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ViewAllPosts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> View Posts
            </NavLink>
        </div>
        @if (UserInformation.getAuthLvl() > 0)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="CreatePost">
                    <span class="oi oi-pencil" aria-hidden="true"></span> Create A Post
                </NavLink>
            </div>
            <div class="nav-item px-3" @onclick="LogOut">
                <NavLink class="nav-link">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                </NavLink>
            </div>
        }

    </nav>
</div>


@code {
    //Page for icons: https://icon-sets.iconify.design/oi/beaker/
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private async void LogOut()
    {
        UserInformation.SetUserInfo(null,0);
        Navigation.NavigateTo("/ViewAllPosts"); 
        await JsRuntime.InvokeVoidAsync("location.reload");
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}